/* Additional FontAwesome icon CSS for our Storybook */
.fa-cloud-upload {
  --fa: "\f0ee";
  --fa--fa: "\f0ee\f0ee";
}
.fa-lock {
  --fa: "\f023";
  --fa--fa: "\f023\f023";
}
.fa-puzzle-piece {
  --fa: "\f12e";
  --fa--fa: "\f12e\f12e";
}
.fa-square {
  --fa: "\f0c8";
  --fa--fa: "\f0c8\f0c8";
}
.fa-keyboard {
  --fa: "\f11c";
  --fa--fa: "\f11c\f11c";
}
.fa-tag {
  --fa: "\f02b";
  --fa--fa: "\f02b\f02b";
}
.fa-credit-card {
  --fa: "\f09d";
  --fa--fa: "\f09d\f09d";
}
.fa-user-circle {
  --fa: "\f2bd";
  --fa--fa: "\f2bd\f2bd";
}
.fa-align-left {
  --fa: "\f036";
  --fa--fa: "\f036\f036";
}
.fa-link {
  --fa: "\f0c1";
  --fa--fa: "\f0c1\f0c1";
}
.fa-message {
  --fa: "\f27a";
  --fa--fa: "\f27a\f27a";
}
.fa-gauge {
  --fa: "\f0e4";
  --fa--fa: "\f0e4\f0e4";
}
.fa-right-to-bracket {
  --fa: "\f2f6";
  --fa--fa: "\f2f6\f2f6";
}
.fa-user-plus {
  --fa: "\f234";
  --fa--fa: "\f234\f234";
}
.fa-key {
  --fa: "\f084";
  --fa--fa: "\f084\f084";
}
.fa-key-skeleton {
  --fa: "\f6f3";
  --fa--fa: "\f6f3\f6f3";
}
.fa-sign-out {
  --fa: "\f08b";
  --fa--fa: "\f08b\f08b";
}
.fa-user {
  --fa: "\f007";
  --fa--fa: "\f007\f007";
}
.fa-cloud-arrow-up {
  --fa: "\f0ee";
  --fa--fa: "\f0ee\f0ee";
}
.fa-file-lines {
  --fa: "\f15c";
  --fa--fa: "\f15c\f15c";
}
.fa-file {
  --fa: "\f15b";
  --fa--fa: "\f15b\f15b";
}
.fa-comments {
  --fa: "\f086";
  --fa--fa: "\f086\f086";
}
.fa-comment {
  --fa: "\f075";
  --fa--fa: "\f075\f075";
}
.fa-users {
  --fa: "\f0c0";
  --fa--fa: "\f0c0\f0c0";
}
.fa-arrow-pointer {
  --fa: "\f245";
  --fa--fa: "\f245\f245";
}
.fa-mouse-pointer {
  --fa: "\f245";
  --fa--fa: "\f245\f245";
}
.fa-circle-info {
  --fa: "\f05a";
  --fa--fa: "\f05a\f05a";
}