<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      {assigns[:page_title] || "Supabase UI Phoenix Live View"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href="/assets/supabase-ui.css" />
    <script defer phx-track-static type="text/javascript" src="/assets/supabase-ui.js">
    </script>
  </head>
  <body>
    <div id="theme-handler" phx-hook="ThemeHandler"></div>
    <div class="min-h-screen bg-background text-foreground supabase-ui-web">
      {@inner_content}
    </div>
  </body>
</html>
